/* components/Membership.css */
.membership-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.membership-title {
  color: #e91e63; /* Pink color */
  font-size: 24px;
  margin-bottom: 10px;
}

.membership-description {
  font-size: 16px;
  margin-bottom: 20px;
}

.membership-list {
  list-style-type: square;
  margin-left: 20px;
}

.membership-button {
  background-color: #e91e63; /* Pink color */
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.membership-button:hover {
  background-color: #c2185b; /* Darker pink color on hover */
}
